skd_wats.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="skd_wats"
  targetNamespace="urn:wats"
  xmlns:tns="urn:wats"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wats="urn:wats"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:wats"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wats="urn:wats"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="Granularity"><!-- wats__Granularity -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="G-MIN"/><!-- G_MIN -->
        <!-- = 1 -->
        <enumeration value="G-HOUR"/><!-- G_HOUR -->
        <!-- = 2 -->
        <enumeration value="G-DAY"/><!-- G_DAY -->
      </restriction>
    </simpleType>
    <simpleType name="Band"><!-- wats__Band -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="B-WATS"/><!-- B_WATS -->
        <!-- = 1 -->
        <enumeration value="B-WAFS"/><!-- B_WAFS -->
        <!-- = 2 -->
        <enumeration value="B-ATVS"/><!-- B_ATVS -->
      </restriction>
    </simpleType>
    <complexType name="DefenseInfo"><!-- wats__DefenseInfo -->
          <sequence>
            <element name="strCstmID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseInfo::strCstmID -->
            <element name="strCstmName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseInfo::strCstmName -->
            <element name="lat" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseInfo::lat -->
            <element name="lng" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseInfo::lng -->
            <element name="SQLInjectionCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::SQLInjectionCount -->
            <element name="XSSCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::XSSCount -->
            <element name="AppHoleCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::AppHoleCount -->
            <element name="CheckCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::CheckCount -->
            <element name="InterceptCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::InterceptCount -->
            <element name="CaptureCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::CaptureCount -->
            <element name="WebShellCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::WebShellCount -->
            <element name="TrojanCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::TrojanCount -->
            <element name="OtherCount" type="xsd:unsignedLong" minOccurs="0" maxOccurs="unbounded"/><!-- wats__DefenseInfo::OtherCount -->
          </sequence>
    </complexType>
    <complexType name="CityAssetInfo"><!-- wats__CityAssetInfo -->
          <sequence>
            <element name="strCstmName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CityAssetInfo::strCstmName -->
            <element name="WindowsHostCounter" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- wats__CityAssetInfo::WindowsHostCounter -->
            <element name="LinuxHostCounter" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- wats__CityAssetInfo::LinuxHostCounter -->
            <element name="otherHostCOunter" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- wats__CityAssetInfo::otherHostCOunter -->
          </sequence>
    </complexType>
    <complexType name="HostOnlineInfo"><!-- wats__HostOnlineInfo -->
          <sequence>
            <element name="strCstmName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__HostOnlineInfo::strCstmName -->
            <element name="onlineHostCounter" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- wats__HostOnlineInfo::onlineHostCounter -->
            <element name="offlineHostCounter" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- wats__HostOnlineInfo::offlineHostCounter -->
          </sequence>
    </complexType>
    <complexType name="CstmInfo"><!-- wats__CstmInfo -->
          <sequence>
            <element name="strType" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strType -->
            <element name="strCstmName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strCstmName -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strAddr -->
            <element name="strCharge" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strCharge -->
            <element name="strPhoneNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strPhoneNumber -->
            <element name="strCstmID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strCstmID -->
            <element name="strLastAlertTime" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::strLastAlertTime -->
            <element name="HostCount" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::HostCount -->
            <element name="OnlineHostCount" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::OnlineHostCount -->
            <element name="SQLInjectionCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::SQLInjectionCount -->
            <element name="XSSCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::XSSCount -->
            <element name="AppHoleCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::AppHoleCount -->
            <element name="CheckCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::CheckCount -->
            <element name="InterceptCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::InterceptCount -->
            <element name="CaptureCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::CaptureCount -->
            <element name="WebShellCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::WebShellCount -->
            <element name="TrojanCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::TrojanCount -->
            <element name="OtherCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::OtherCount -->
            <element name="phoneCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::phoneCount -->
            <element name="mailCount" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- wats__CstmInfo::mailCount -->
          </sequence>
    </complexType>
    <complexType name="AlertInfo"><!-- wats__AlertInfo -->
          <sequence>
            <element name="strSendTime" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strSendTime -->
            <element name="strType" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strType -->
            <element name="strDestination" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strDestination -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strAddr -->
            <element name="strCharge" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strCharge -->
            <element name="strCstmName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strCstmName -->
            <element name="strInfoBuf" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__AlertInfo::strInfoBuf -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="currentTime">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="currentTimeResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/><!-- wats__currentTime::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getDeviceCount">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getDeviceCountResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getDeviceCount::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="DefenseData">
      <complexType>
          <sequence>
            <element name="GEnum" type="wats:Granularity" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseData::GEnum -->
            <element name="beginTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseData::beginTime -->
            <element name="endTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseData::endTime -->
            <element name="addrFlag" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseData::addrFlag -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseData::strAddr -->
            <element name="BEnum" type="wats:Band" minOccurs="1" maxOccurs="1"/><!-- wats__DefenseData::BEnum -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="DefenseDataResponse">
      <complexType>
          <sequence>
            <element name="response" type="wats:DefenseInfo" minOccurs="1" maxOccurs="unbounded"/><!-- wats__DefenseData::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getCityASSetInfo">
      <complexType>
          <sequence>
            <element name="GEnum" type="wats:Granularity" minOccurs="1" maxOccurs="1"/><!-- wats__getCityASSetInfo::GEnum -->
            <element name="beginTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getCityASSetInfo::beginTime -->
            <element name="endTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getCityASSetInfo::endTime -->
            <element name="addrFlag" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getCityASSetInfo::addrFlag -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__getCityASSetInfo::strAddr -->
            <element name="BEnum" type="wats:Band" minOccurs="1" maxOccurs="1"/><!-- wats__getCityASSetInfo::BEnum -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getCityASSetInfoResponse">
      <complexType>
          <sequence>
            <element name="response" type="wats:CityAssetInfo" minOccurs="1" maxOccurs="unbounded"/><!-- wats__getCityASSetInfo::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getHostOnlineInfo">
      <complexType>
          <sequence>
            <element name="GEnum" type="wats:Granularity" minOccurs="1" maxOccurs="1"/><!-- wats__getHostOnlineInfo::GEnum -->
            <element name="beginTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getHostOnlineInfo::beginTime -->
            <element name="endTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getHostOnlineInfo::endTime -->
            <element name="addrFlag" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getHostOnlineInfo::addrFlag -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__getHostOnlineInfo::strAddr -->
            <element name="BEnum" type="wats:Band" minOccurs="1" maxOccurs="1"/><!-- wats__getHostOnlineInfo::BEnum -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getHostOnlineInfoResponse">
      <complexType>
          <sequence>
            <element name="response" type="wats:HostOnlineInfo" minOccurs="1" maxOccurs="unbounded"/><!-- wats__getHostOnlineInfo::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getLoginURLbyCstmID">
      <complexType>
          <sequence>
            <element name="strCstmID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__getLoginURLbyCstmID::strCstmID -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getLoginURLbyCstmIDResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__getLoginURLbyCstmID::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getCstmInfo">
      <complexType>
          <sequence>
            <element name="GEnum" type="wats:Granularity" minOccurs="1" maxOccurs="1"/><!-- wats__getCstmInfo::GEnum -->
            <element name="beginTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getCstmInfo::beginTime -->
            <element name="endTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getCstmInfo::endTime -->
            <element name="addrFlag" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getCstmInfo::addrFlag -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__getCstmInfo::strAddr -->
            <element name="BEnum" type="wats:Band" minOccurs="1" maxOccurs="1"/><!-- wats__getCstmInfo::BEnum -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getCstmInfoResponse">
      <complexType>
          <sequence>
            <element name="response" type="wats:CstmInfo" minOccurs="1" maxOccurs="unbounded"/><!-- wats__getCstmInfo::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getAlertInfo">
      <complexType>
          <sequence>
            <element name="GEnum" type="wats:Granularity" minOccurs="1" maxOccurs="1"/><!-- wats__getAlertInfo::GEnum -->
            <element name="beginTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getAlertInfo::beginTime -->
            <element name="endTime" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getAlertInfo::endTime -->
            <element name="addrFlag" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- wats__getAlertInfo::addrFlag -->
            <element name="strAddr" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- wats__getAlertInfo::strAddr -->
            <element name="BEnum" type="wats:Band" minOccurs="1" maxOccurs="1"/><!-- wats__getAlertInfo::BEnum -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getAlertInfoResponse">
      <complexType>
          <sequence>
            <element name="response" type="wats:AlertInfo" minOccurs="1" maxOccurs="unbounded"/><!-- wats__getAlertInfo::response -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="currentTimeRequest">
  <part name="Body" element="wats:currentTime"/><!-- wats__currentTime::wats__currentTime -->
</message>

<message name="currentTimeResponse">
  <part name="Body" element="wats:currentTimeResponse"/>
</message>

<message name="getDeviceCountRequest">
  <part name="Body" element="wats:getDeviceCount"/><!-- wats__getDeviceCount::wats__getDeviceCount -->
</message>

<message name="getDeviceCountResponse">
  <part name="Body" element="wats:getDeviceCountResponse"/>
</message>

<message name="DefenseDataRequest">
  <part name="Body" element="wats:DefenseData"/><!-- wats__DefenseData::wats__DefenseData -->
</message>

<message name="DefenseDataResponse">
  <part name="Body" element="wats:DefenseDataResponse"/>
</message>

<message name="getCityASSetInfoRequest">
  <part name="Body" element="wats:getCityASSetInfo"/><!-- wats__getCityASSetInfo::wats__getCityASSetInfo -->
</message>

<message name="getCityASSetInfoResponse">
  <part name="Body" element="wats:getCityASSetInfoResponse"/>
</message>

<message name="getHostOnlineInfoRequest">
  <part name="Body" element="wats:getHostOnlineInfo"/><!-- wats__getHostOnlineInfo::wats__getHostOnlineInfo -->
</message>

<message name="getHostOnlineInfoResponse">
  <part name="Body" element="wats:getHostOnlineInfoResponse"/>
</message>

<message name="getLoginURLbyCstmIDRequest">
  <part name="Body" element="wats:getLoginURLbyCstmID"/><!-- wats__getLoginURLbyCstmID::wats__getLoginURLbyCstmID -->
</message>

<message name="getLoginURLbyCstmIDResponse">
  <part name="Body" element="wats:getLoginURLbyCstmIDResponse"/>
</message>

<message name="getCstmInfoRequest">
  <part name="Body" element="wats:getCstmInfo"/><!-- wats__getCstmInfo::wats__getCstmInfo -->
</message>

<message name="getCstmInfoResponse">
  <part name="Body" element="wats:getCstmInfoResponse"/>
</message>

<message name="getAlertInfoRequest">
  <part name="Body" element="wats:getAlertInfo"/><!-- wats__getAlertInfo::wats__getAlertInfo -->
</message>

<message name="getAlertInfoResponse">
  <part name="Body" element="wats:getAlertInfoResponse"/>
</message>

<portType name="skd_watsPortType">
  <operation name="currentTime">
    <documentation>Service definition of function wats__currentTime</documentation>
    <input message="tns:currentTimeRequest"/>
    <output message="tns:currentTimeResponse"/>
  </operation>
  <operation name="getDeviceCount">
    <documentation>Service definition of function wats__getDeviceCount</documentation>
    <input message="tns:getDeviceCountRequest"/>
    <output message="tns:getDeviceCountResponse"/>
  </operation>
  <operation name="DefenseData">
    <documentation>Service definition of function wats__DefenseData</documentation>
    <input message="tns:DefenseDataRequest"/>
    <output message="tns:DefenseDataResponse"/>
  </operation>
  <operation name="getCityASSetInfo">
    <documentation>Service definition of function wats__getCityASSetInfo</documentation>
    <input message="tns:getCityASSetInfoRequest"/>
    <output message="tns:getCityASSetInfoResponse"/>
  </operation>
  <operation name="getHostOnlineInfo">
    <documentation>Service definition of function wats__getHostOnlineInfo</documentation>
    <input message="tns:getHostOnlineInfoRequest"/>
    <output message="tns:getHostOnlineInfoResponse"/>
  </operation>
  <operation name="getLoginURLbyCstmID">
    <documentation>Service definition of function wats__getLoginURLbyCstmID</documentation>
    <input message="tns:getLoginURLbyCstmIDRequest"/>
    <output message="tns:getLoginURLbyCstmIDResponse"/>
  </operation>
  <operation name="getCstmInfo">
    <documentation>Service definition of function wats__getCstmInfo</documentation>
    <input message="tns:getCstmInfoRequest"/>
    <output message="tns:getCstmInfoResponse"/>
  </operation>
  <operation name="getAlertInfo">
    <documentation>Service definition of function wats__getAlertInfo</documentation>
    <input message="tns:getAlertInfoRequest"/>
    <output message="tns:getAlertInfoResponse"/>
  </operation>
</portType>

<binding name="skd_wats" type="tns:skd_watsPortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="currentTime">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getDeviceCount">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="DefenseData">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getCityASSetInfo">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getHostOnlineInfo">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getLoginURLbyCstmID">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getCstmInfo">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getAlertInfo">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
</binding>

<service name="skd_wats">
  <documentation>gSOAP 2.8.53 generated service definition</documentation>
  <port name="skd_wats" binding="tns:skd_wats">
    <SOAP:address location="http://bd2.api.sky-deep.com/0e305732090d/soap_isapi.dll?soap_wats"/>
  </port>
</service>

</definitions>
